@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Roboto:wght@400;500&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.fone_color {
  background-color: rgb(170, 194, 189);
  width: 100%;
}
.container {
  position: relative;
  top: 0px;
  width: 1120px;
  background-color: rgb(217, 225, 231);
  margin: 0px auto;
}
.img {
  position: relative;
  width: 100%; 
  height: 300px; 
  margin: 0; 
}
.img img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
/*Горизонтальное меню многоуровневое
Устанавливаем позицию горизонтального меню как sticky
*/
.sticky {
  position: sticky;
  top: 0px;         /*остановка прокрутки вверху видового экрана*/
  padding: 20px 60px 20px 0px; /* Центрируми ЛИШКИ и отодвигаем их от правого края */
  width: 1120px; /*Задаем размер СТИКИ*/
  height: 100px;
  background-color: rgb(83, 154, 175);/* Задаем фон блока меню*/
}
.main-menu > li {
  float: right; /* Сдвигаем блоки меню вправо при этом идет обратная нумерация так как не хочется оборачивать 
  еще в один блок*/
  position: relative; /*поз релятив для того что бы была возможность
  в последствии установить в нужном месте sub-menu, с поз абсолют*/
  border-left: 4px solid black; /*немного стилизуем*/
} 
/*ставим вертикальные полоски разделители между блоками меню*/
.main-menu > li:first-child {
  border-right: 4px solid black;
}
.main-menu > li:last-child {
  border-left: 0px; /*убираем разделительную полосу с последнего блока меню*/
}
/* НЕ ОБЯЗАТЕЛЬНО!!! убираем поля для лучшего форматирования и убираем стиль списка УЛ 
  который присваивается по умолчанию браузером делаем это на всякий случай
  хотя файл reset.css уже сбросил эти настройки*/
nav ul { 
  margin: 0;
  padding: 0;
  list-style: none;
}
/* стилизуем ссылки тег <a> 
  убираем подчеркивающую линию  отображаем блоком (одна под 
  другой и плавное выплывание в течение 3 сек линейное добавляем*/
nav a { 
  text-decoration: none;
  display: block;
  transition: .3s linear;
}
.main-menu > li > a {  /*форматируем собственно ссылки - 
  надписи в главном меню вес 012 через указание комбинатора РЕБЕНОК
  то есть будут изменены только дети (не потомки)
  а их всего 4 */
  padding: 20px 30px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1a1f72;
  letter-spacing: 1px;
}
/* меняем стиль названий линков при наведении мышкой
в подразделе .active,(без вложенности)*/
.main-menu > li > a .active, 
/* а так же во всех остальных подменю*/
.sub-menu a:hover {
  color: #4c6dc9;
  font-weight: 700;
}
/*выделяем активную ссылку и изменение фона при наведении мышкой 
на главное меню*/
.main-menu > li> .active,
.main-menu > li:hover {
  background-color: #5498c5;
}
/* позиционируем и стилизуем меню 2-го и 3-го уровней 
которые имеют одинаковый класс и указываем, что они скрыты.
Так же добавляем плавное выплывание меню через использование 
тега ТРАНСФОРМ*/
.sub-menu {
  position: absolute;
  z-index: 1;
  min-width: 200px;
  margin-top: 4px;
  background: rgb(181, 194, 209);
  border-top: 1px solid #2b2b49;
  border-left: 1px solid #6a6a8b;
  border-right: 1px solid #2b2b49;
  /*самая важная часть  - указываем что все наши подменю
  ВИДИМЫ но прозрачность у них 0 - то есть они не видны, но они ЕСТЬ*/
  visibility: visible; 
  opacity: 0; 
  /*указываем их стилистику появления*/
  transform-origin: 0% 0%; /*точка отсчета трансформации*/
  transform: rotateX(-90deg); /* направление появления
  X - по оси Х,  Y по оси лево - право*/
  transition: .4s linear;  
}
/*указание позиции для меню 2-го и 3-го уровней 
что бы начинались от своих родителей PRODUCT2 - PRODUCT21,22,23 */
.sub-menu li {
  position: relative;
}
/*Обозначение значком разделов меню которые имеют вложенность*/
.main-menu .fa-home, 
.sub-menu .open {
  margin-left: 5px;
  color: inherit;
  width: 20px;
}
/*Стилизация ссылок - собственно видимых названий 
подменю 2-го и 3-го уровней*/
.sub-menu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 1px solid #3b3b4e;
}
/*позиционируем меню 3-го уровня относительно меню 2-го уровня
так как 2-я позиция абсолют позиционируется относительно 1-й позиции 
абсолют вне регулярного потока сайта
Так же указываем способ его появления при наведении мышкой*/
.sub-menu .sub-menu {
  position: absolute;
  right: 100%;
  top: -1px;
  transition: .3s linear;
}
/*указываем, что при наведении на ЛЮБОЕ LI в секции nav 
 мышкой должно показываться sub-menu соотвествующего уровня*/
nav li:hover > .sub-menu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
/*просто немного привел в порядок текстовую часть*/
.text {
  padding: 24px 24px 0px;
}
p, h1 {
  padding-top: 18px;
  text-indent: 24px;
  text-justify: auto;
}